<div class="headboard">
  <h2>Busquemos asteroides!</h2>

  <p>
    Selecciona fecha de inicio y fin para tu búsqueda
  </p>
</div>


<div class="calendar">

  <ngb-datepicker (dateSelect)="dateFrom($event)"></ngb-datepicker>

  <ngb-datepicker (dateSelect)="dateTo($event)" [maxDate]= "getMaxDate()" [minDate]= "getMinDate()"></ngb-datepicker>

</div>

<div class="btnSearch">
  <button type="button" (click)="searchAsteroids()" [disabled]= "!(newInitialDate && newFinalDate)">Buscar</button>
</div>

<div *ngIf="asteroids">

  <app-results-table [asteroids]="asteroids"></app-results-table>

</div>
